<div class="row">
    <div class="col-6">
        <app-dona
          titulo = "Ventas"
          [etiquetas]="labels1"
          [datos]="data1">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona
           titulo="Compras"
           [etiquetas]="labels2"
           [datos]="data2">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona
           titulo = "Inventario">
        </app-dona>
    </div>
    <!-- cuando no se le especifica los parametros es porque se quiere dejar por defecto los 
    que tiene el componente hijo -->

    <div class="col-6">
        <app-dona
          titulo = "Servicios"
          [etiquetas]="labels4"
          [datos]="data4">
        </app-dona>
    </div>
</div>