/* You can add global styles to this file, and also import other style files */

#themecolors .selector, .cursor {
    cursor : pointer;
}


.img-avatar{
    height: 150px;
    width: 150px;
}

.w100{
    width: 100px;
}

.avatar{
    border : 1 px solid grey;
    border-radius: 100%;
    width: 50px;
}