<div id="apartado1" class="intro-item intro-item-type-1" style="
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url('./assets/images/intro-img3.jpg');
  "
>

  <div class="container"  style="width: 100%;height: 100%;">
        <div class="intro-content" style="--margin-left: 4rem">
          <div class="section-heading shm-none">
            <div class="section-subheading"></div>
            <h1>Servicomputer c.a.</h1>
            <p class="section-desc" style="color: black;">Su Tienda de Computación y Sistemas.</p>
          </div>
        </div>
      </div>
    
</div>
